* {
  background: black;
  color: white;
}

.App {
  width: 100%;
}

.tile {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 1rem;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
}

.line {
  gap: 5px;
  display: flex;
}

#game {
  display: table;
  margin: 0 auto;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.correct {
  background-color: blue;
}

.close {
  background-color: teal;
}

.incorrect {
  background-color: gray;
}

.currentTile {
  box-sizing: border-box;
  animation: border .5s infinite;
}

#ansDiv {
  font-size: 24px;
  margin-top: 2rem;
  text-align: center;
  display: none;
}

#ansDiv.visible {
  display: block;
}

#score {
  font-size: 24px;
  margin-bottom: 2rem;
  text-align: center;
}

#ans {
  color: cyan;
}

@keyframes border {
  0% {
    border: 1px solid cyan;
  }
  50% {
    border: 6px solid cyan;
  }
  100% {
    border: 1px solid cyan;
  }
}

.readyTile {
  animation: shake .75s infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-15deg); }
  20% { transform: translate(-3px, 0px) rotate(15deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(15deg); }
  50% { transform: translate(-1px, 2px) rotate(-15deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-15deg); }
  80% { transform: translate(-1px, -1px) rotate(15deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-15deg); }
}
